
@{
	ViewBag.Title = "OrderConfirmation";
	Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}




<h2 align="center" style="color:indianred; padding: 100px"> Đơn hàng của bạn đang chờ được xử lý, vui lòng theo dõi ở mục đặt hàng để nắm rõ thông tin. Cảm ơn quý Khách!!</h2>