@model HieuThuoc.Models.Store

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 class="text-center"> <FONT color="#FF000">CHI TIẾT</FONT></h2>


<!-------------------------------->
<table table class="table table-hover display" style="width: 100%;color:black;">
    <tr>
        <th> Tên</th>
        <td> @Html.DisplayFor(model => model.Name)</td>
    </tr>

    <tr>

        <td></td>
        <td></td>
    </tr>
</table>
<div class="form-group">
    <a href="/store" class="btn btn-primary">Quay lại</a>
</div>
